* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 18px;
}

.bg {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.opis {
    position: absolute;
    color: white;
    padding-bottom: 20px;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.opis #title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.form {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 60px 30px 30px 30px;
}

input {
    display: block;
    margin: 4vh auto;
    padding: 10px;
    width: 350px;
    border: 0;
    opacity: 0.8;
    border-radius: 1.5vw;
    outline: none;
    text-align: center;
    font-size: 20px;
    outline: none;
}

input[type=submit] {
    cursor: pointer;
}

input[type=submit]:hover,
input:focus {
    opacity: 1;
}

.options {
    position: absolute;
    top: 2%;
    right: 4%;
    text-align: center;
    font-family: sans-serif;
}

a {
    margin: 0 2vh;
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.shake{
    animation: shake 0.5s ease-in;   
}
@media (max-height: 500px) {
    .form {
        animation: moveUp 1s ease-out forwards;
    }
}

@media (min-height: 500px) {
    .form {
        animation: moveDown 1s ease-out forwards;
    }
}


@keyframes moveUp {
    from {
        top: 20%;
    }

    to {
        top: 12%;
    }
}

@keyframes moveDown {
    from {
        top: 15%;
    }

    to {
        top: 20%;
    }
}

@keyframes shake{
    0%{
        
    }
    
    15%{
        transform:translateX(8px);
    }
    
    30%{
        transform:translateX(-8px);
    }
    
    45%{
        transform:translateX(8px);
    }
    
    60%{
        transform:translateX(-8px);  
    }
    
    80%{
        transform:translateX(8px);   
    }
    
    100%{
        transform:translateX(0px);   
    }
}





